node_modules/

HOJA DE VIDA*
 
Por eso lo invitamos a que se registre en la siguiente plataforma https://lucy.staffing.com.co/   y complete la hoja de vida al 100%  recuerde adjuntar los siguientes documentos:
 
Documentos a adjuntar en PDF individuales al siguiente correo:
 
jcardenaspeople@staffing.com.co
 
Enviar solamente los 3 documentos solicitados:
 
1.  Hoja de vida actualizada 
2. Cédula (legible y por ambas caras) - Documento en PDF y solo debe venir la cedula
3. Bachiller (acta, diploma o icfes con nombre de colegio) -  cualquiera de los 3 
    - Personal extranjero (PPT, Pasaporte o cedula venezolana y bachiller)

jcardenaspeople@staffing.com.co
3213181758
https://docs.google.com/forms/d/1KGPX_9pv3sfF0yRF8eXGnkPpyca43CuF8rrsrQ1DXp8/edit